<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Snap Master</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Donate to support the future development of Snap Master.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>PayPal.png</string>
			<key>label</key>
			<string>Donate</string>
			<key>action</key>
			<string>donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>	
		<dict>			
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>UI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>disableTimerUI</string>
			<key>label</key>
			<string>Hide Snap Timer</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>showSublabels</string>
			<key>label</key>
			<string>Show Sublabels</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>saveSnap</string>
			<key>label</key>
			<string>Save Snap Button</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>snapButtonInverted</string>
			<key>label</key>
			<string>Invert Button</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>			
			<string>com.drp.snapmaster</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Top Left</string>
				<string>Top Right</string>
				<string>Bottom Left</string>
				<string>Bottom Right</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>key</key>
			<string>saveButtonLocation</string>
			<key>label</key>
			<string>Button Location</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>checkAll</string>
			<key>label</key>
			<string>Check All Recipients</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>disableTimer</string>
			<key>label</key>
			<string>Disable Snap Timer</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>disableRPNotif</string>
			<key>label</key>
			<string>Discrete Replay</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>disableSSNotif</string>
			<key>label</key>
			<string>Discrete Screenshot</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>manualAdvance</string>
			<key>label</key>
			<string>Manual Story Advance</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>breakReplay</string>
			<key>label</key>
			<string>No Replay Limit</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>openFeed</string>
			<key>label</key>
			<string>Open To Feed</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>tapClose</string>
			<key>label</key>
			<string>Tap Close Snap</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>saveAllSent</string>
			<key>label</key>
			<string>Save All Sent</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>autoSaveSnap</string>
			<key>label</key>
			<string>Save All Snaps</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>autoSaveStories</string>
			<key>label</key>
			<string>Save All Stories</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>snapSelect</string>
			<key>label</key>
			<string>Snap From Photo Library</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drp.snapmaster</string>
			<key>key</key>
			<string>moreText</string>
			<key>label</key>
			<string>Snap More Text</string>
			<key>PostNotification</key>
			<string>com.drp.snapmaster/preferences.changed</string>
		</dict>
	</array>	
</dict>
</plist>