Package: com.drp.snapmaster
Name: Snap Master
Depends: mobilesubstrate
Version: 1.5.3
Architecture: iphoneos-arm
Description: Make Snapchat go beyond the norm.
Maintainer: AcidTweaks <acidtweaks@gmail.com>
Author: AcidTweaks <acidtweaks@gmail.com>
Section: Tweaks
